<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <!--<meta content="text/html; charset=utf-8" http-equiv="Content-Type">-->
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">-->
    <!--<meta content="yes" name="apple-mobile-web-app-capable">-->
    <!--<meta content="black" name="apple-mobile-web-app-status-bar-style">-->
    <!--<meta content="telephone=no" name="format-detection">-->
    <title >首页</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/iview/2.0.0/styles/iview.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script type="text/javascript" src="http://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/iview/2.0.0/iview.min.js"></script>
    <style>

    </style>
</head>
<body style="background-color: #EEEEEE">
<div id="app">
    <!--导航头-->
    <div th:replace="header/header :: header"></div>

    <!--内容页-->
    <center>
    <div class="content-page">
        <!--公告-->
        <div class="gonggao"><Icon type="android-volume-up" style="margin-right: 10px"></Icon>公告：测试场错错错错错错错错错错错错错错错</div>
        <!--首页内容列表-->
        <div th:replace="index/index_content :: index_content"></div>
        <!--右侧边栏-->
        <div th:replace="sidebar/sidebar :: sidebar"></div>
    </div>
    </center>


</div>
<script th:src="@{/js/index.js}"></script>
</body>
</html>